{% load static %}

<!DOCTYPE html>
<h1 style="text-align: center;">Recipes' List</h1>


<div style="float: right;">
    <a href="{%url 'recipe:recipe_list' %}">Recipe List</a>
    <a href="{%url 'recipe:create'%}">Create recipe</a>
    <a href="{%url 'recipe:search' %}">Search</a>
    <a href="{%url 'logout' %}"> Logout </a>
</div><br>

<head>
    <style>
        table,
        th,
        td {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .table-title {
            font-weight: bold;
            color: brown;
        }

        img {
            border-radius: 20px;
            padding: 5px;
        }
    </style>
</head>

<body>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr class="table-title">
            <td>Image</td>
            <td>Name</td>
            <td>Description</td>
        </tr>
        {% for object in object_list %}
        <tr>
            <td><img src="{{object.pic.url}}" width="200" height="200" /></td>
            <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
            <td>{{object.description}}</td>

        </tr>

        {% endfor %}
    </table>
</body>